<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<style>
	body{
    width: 970px;
    margin: 0px auto;
    margin-top: 10px;
    border: 2px solid brown;
    box-shadow: 10px 10px 50px;
    min-height: 500px;
    border-radius: 10px;
    padding: 20px;
}
 #bt2:hover {
	background: green;
    box-shadow: red;
    color: black;
    transform: translateY(-7px);
  }

  #bt1:hover {
	background: black;
    box-shadow: red;
    color: white;
    transform: translateY(-7px);
  }

  #b1{
	float: right;
	margin-left: 380px;
  }

  #b2{
	
	float: right;
	margin-left: 380px;
  }
	</style>
</head>

<body>
	<div id="wrapper">
		<fieldset>
			<h1> The Dojo Message Board</h1>
			<hr>
			<% if(messages.registration) { %>
				<% for (var x of messages.registration) { %>
				<h5 class='error'><%= x %></h5>
				<% } %>
				<% } %>
			<form action='/message' method=post>
				<table class="table table-sm">
					<tbody>
						<tr>
							<h3><b>Name:</b></b><input type="text" name="name"></h3>
						</tr>
						<td>
							<h3><b>Message:</b> <textarea name="message" cols='50' rows='5'></textarea><br><br></h3>
						</td>
					</tbody>
				</table>
				<input id="bt1" type="submit" value="Post Message" style="margin-left:352px;">
			</form>
			<br><br>
			
			<% allmessages.forEach(function (onemessage) { %>
			<h4><%= onemessage.name %></h4>
			<p><%= onemessage.message %></p>

				<% for(var k =0 ; k < onemessage.comments.length ;k++) { %>
					<h4><%= onemessage.comments[k].cname %></h4>
					<p><%= onemessage.comments[k].ccomment %></p>
				<% }%>
			<br>
			<% if(messages.addmess) { %>
				<% for (var x of messages.addmess) { %>
					<h5><%= x %></h5>
				<% } %>
			<% } %>
			<form action='/comment/<%= onemessage._id %>' method=post>
				<table class="table table-sm">
					<tbody>
						<tr>
							<h3><b>Name:</b><input type="text" name="cname"></h3>
						</tr>
						<td>
							<h3><b>Comment:</b> <textarea name="ccomment" cols='50' rows='5'></textarea><br><br></h3>
						</td>
					</tbody>
				</table>
				<input id="bt2" type="submit" value="Post Comment"style="margin-left:352px;">
			<% }) %>
			</form>
		</fieldset>
	</div>
</body>

</html>
